 <!-- START THE SECTION 8 : THE FOOTER  -->
 <section id="footer" class="footer text-white">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,32L26.7,64C53.3,96,107,160,160,176C213.3,192,267,160,320,144C373.3,128,427,128,480,154.7C533.3,181,587,235,640,229.3C693.3,224,747,160,800,138.7C853.3,117,907,139,960,138.7C1013.3,139,1067,117,1120,138.7C1173.3,160,1227,224,1280,208C1333.3,192,1387,96,1413,48L1440,0L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-lg-6 get-in-touch text-center">
                <h3 class="get-in-touch--title fw-bold anim-elt-37">Get in touch !</h3>
                <p class="lead get-in-touch--subtitle anim-elt-38">How can we help?</p>
            </div>
            
            <div class="col-12 col-lg-6">
                <div id="contact" class="form w-100 pb-3">
                    <form action="#" class="row">
                        <div class="col-lg-6 col-md-6 mb-3"><input type="txt" placeholder="Your Name:" id="inputName" class="shadow form-control form-control-lg anim-elt-47"></div>
                        <div class="col-lg-6 col-md-6 mb-3"><input type="email" placeholder="Your Email:" id="inputEmail" class="shadow form-control form-control-lg anim-elt-48"></div>
                        <div class="col-lg-12 mb-3"><input type="text" placeholder="Subject:" id="inputSubject" class="shadow form-control form-control-lg anim-elt-49"></div>
                        <div class="col-lg-12 mb-3">
                            <textarea name="message" id="message" rows="3" placeholder="Your Message:" class="shadow form-control form-control-lg anim-elt-50"></textarea>
                        </div>
                        <div class="text-center d-grid mt-1">
                            <button type="button" class="rounded-pill btn-rounded anim-elt-51">Send
                                <span><i class="fas fa-paper-plane"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row pt-3 pb-3 d-flex align-items-center">
            <div class="col-12 col-md-4 align-items-center text-center">
                <a href="" class="brand">
                    <img src="assets/images/Logo-white.png" alt="" class="brand-logo align-middle anim-elt-39">
                </a>
            </div>
            <div class="col-12 col-md-8">
                <ul class="nav footer-menu align-middle">
                    <li class="nav-item anim-elt-40">
                      <a class="nav-link active" aria-current="page" href="#about-us">ABOUT US</a>
                    </li>
                    <li class="nav-item anim-elt-41">
                      <a class="nav-link" href="#service">SERVICE</a>
                    </li>
                    <li class="nav-item anim-elt-42">
                      <a class="nav-link" href="#benefits">BENEFITS</a>
                    </li>
                    <li class="nav-item anim-elt-43">
                      <a class="nav-link" href="#goals">GOALS</a>
                    </li>
                    <li class="nav-item anim-elt-44">
                      <a class="nav-link" href="#newsroom">NEWSROOM</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row pb-2 pt-2 d-flex align-items-center">
            <div class="col-sm-12 col-md-4"></div>
            <div class="col-sm-12 col-md-8">
                <ul class="social-media-links justify-content-center">
                    <li class="social-item">
                        <a href="" class="discord anim-elt-45"><i class="fab fa-discord"></i></a>
                        <a href="" class="twitter anim-elt-46"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row pb-5 pt-2 d-flex align-items-center">
            <div class="col-sm-12 col-md-4 text-center copyright">
                <p class="lead copyright--content text-white">© 2022 IotaOrigin UG. All rights reserved.</p>
            </div>
            <div class="col-sm-12 col-md-8 text-center text-white terms-menu">
                <ul class="nav footer-menu terms-menu--content align-middle">
                    <li class="nav-item">
                      <a class="nav-link" href="Javascript:void(0)" (click)="goToLegal()">Imprint</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="Javascript:void(0)" (click)="goToConfidentialite()">Privacy policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

