@use '../custom' as *;

.about-us {
    background-color: #f5f5f5;
    position: relative;
    background-image: url('../../images/particle-2.png');
    background-repeat: no-repeat;
    background-blend-mode: lighten;

    &::before {
        content: "";
        background-image: url('../../images/particle-2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.10;
        z-index: 0;

        // animation: animate__heartBeat;
        // animation-duration: 5s;
    }

    .container {
        position: relative;
        z-index: 3;
    }

    svg {
        position: relative;
        z-index: 2;
    }

    .description {
        padding: 0 2rem;
        @include media-breakpoint-up(lg) {
            padding: 0 9rem;
        }
    }
}