@use '../custom' as *;

.faq {
    // padding: 5rem 0;
    background-color: #E6F2FE;
    background-image: url('../../images/particle-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    svg.faq-top {
        margin-top: -0.2953rem;
        @include media-breakpoint-up(lg){
            margin-top: 0;
        }
    }
    svg.faq-bottom {
        margin-bottom: -0.2953rem;
        @include media-breakpoint-up(lg){
            margin-bottom: 0;
        }
    }

}

.accordion {

    .accordion-header {
        
        .accordion-button {
            font-weight: bold;
        }
    }
}