@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    @include bgGradient;
    // background-color: $primary;
    position: relative;   

    &::before {
        content: "";
        background-image: url('../../images/Footer-particles.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.85;
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 3;
    }

    .form {

        .btn-rounded {
            background-color: $green;
        }
    }

    svg {
        margin-top: -0.2953rem;
        @include media-breakpoint-up(lg){
            margin-top: 0;
        }
    }
}

.get-in-touch {
    margin-bottom: 1rem;
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        margin-top: 0;
    }

    &--title {
        font-size: 2.5295rem;
        font-weight: 900;

        @include media-breakpoint-up(sm){
            font-size: 4rem;
        }
    }

    &--subtitle {
        font-size: 1.3295rem;
        font-weight: 400;

        @include media-breakpoint-up(sm){
            font-size: 2rem;
        }
    }
}

// FORM CONTENT 
.form {
    padding: 0 2rem;

    @include media-breakpoint-up(sm) {
        padding: 0 3rem;
    }

    button {
        // border: none;
        color: $white;
        width: 8.295365rem;

        @include media-breakpoint-up(sm) {
            width: 10.295365rem;
        }
        // @include media-breakpoint-up(md) {
        //     width: 10.295365rem;
        // }
    }

    input, textarea {
        border-radius: 0;
        padding: 12px 20px;
    }
    input::placeholder, textarea::placeholder {
        color: $gray-500;
    }
}

.brand-logo {
    width: 75%;
    margin-top: 2rem;

    @include media-breakpoint-up(sm) {
        width: 80%;
        margin-top: 0;
    }
    @include media-breakpoint-up(md) {
        width: 95%;
    }
    @include media-breakpoint-up(lg) {
        width: 80%;
    }
}

//STYLE THE MENU FOOTER
.footer-menu {
    justify-content: center;
    margin: 2rem 0;

    @include media-breakpoint-up(lg) {
        justify-content: end;
        margin: 0 0;
    }

    li {
        padding: 0 0.53975rem;

        @include media-breakpoint-up(sm) {
            padding: 0 0.83975rem;
        }

        a {
            color: $white;
            font-size: 1.2595rem;
            font-weight: 700;

            &:hover {
                color: $primary;
            }
        }
    }
}

// SOCIAL MEDIA LINKS 
.social-media-links {
    list-style: none;
    text-align: center;
    position: relative;

    li {
        display: inline-block;
        vertical-align: baseline;
        position: relative;

        a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            background-color: $white;
            padding: 0.5295rem;

            i {
                display: inline-block;
                font-size: 1.4rem;
                color: $primary;
                font-weight: 400;
                @include absoluteCenter;
            }

            &:hover {

                i {
                    color: $green;
                }
            }
        }
    }
}

// Style the Copyright
.copyright {
    font-size: 0.9259rem;
    font-weight: 300;
}

// STYLE THE TERMS 
.terms-menu {
    justify-content: center;

    @include media-breakpoint-up(md) {
        justify-content: end;
    }
    
    li {
        padding: 0 0.3975rem;

        a {
            font-weight: 300;
            font-size: 0.9559rem; 
        }
    }
}

// STYLE THE BULLETS NAVIGATION 
/* aside {
    padding: 0;
    position: fixed;
    top: 48%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;

    @include media-breakpoint-up(sm) {
        right: 0.3955rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        margin: 0;

        li .indicator {
            cursor: pointer;
            margin-top: 1rem;
            display: block;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: $white;
            box-shadow: 0 0 0.4295rem $gray-700;
        }

        li .active {
            transform: scale(1.7);
            transition: transform 200ms ease-in-out;
        }
    }
} */

// STYLE THE BACK TO TOP BUTTON 
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 9990;

    i {
        color: $white;
        font-size: 1rem;
        @include absoluteCenter;
    }
}
.back-to-top.show {
    opacity: 1;
    visibility: visible;
}


/* Easy Scroll Dots DEMO --- https://github.com/Superhands89/EasyScrollDots
* Quickly add anchor points throughout your web page/application and have navigational dots automatically appear
* in a fixed position on the side of the page. This allows the user to click to scroll though sections of the page,
* and it updates as they scroll.
*
* By Superhands89 2019-2021 --- https://github.com/Superhands89/
*
* GPLv3 Licence for open source use only
* or purchase a Single Commercial License at https://gum.co/TdtEX
* or purchase an Extended Commercial License at https://gum.co/NGfmlw
*/
.scroll-indicator-controller {
    position: fixed;
    top: 50vh;
    transform: translate(0, -50%);
    right: 10px;
    z-index: 999;
}
.scroll-indicator-controller.indi-mobile > div span {
    display: none;
}
@media (min-width: 1025px) {
    .scroll-indicator-controller {
        right: 20px;
    }
}
.scroll-indicator-controller > div {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: rgba(0, 0, 0, 0.25);
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: background 0.4s ease;
    will-change: transition;
}
.scroll-indicator-controller > div span {
    color: #95a0ef;
    position: absolute;
    right: calc(100% + 8px);
    white-space: nowrap;
    top: 50%;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 17px;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-50%) translateX(10px);
    transition: all 0.4s ease;
    will-change: transition;
    font-weight: 600;
}
@media (hover: none) {
    .scroll-indicator-controller > div span {
        display: none;
    }
}
.scroll-indicator-controller > div span:after {
    content: "-----";
    padding-left: 5px;
    letter-spacing: -2px;
    font-family: arial, sans-serif;
    vertical-align: bottom;
}
@media (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .scroll-indicator-controller > div:hover span {
        width: auto;
        opacity: 1;
        overflow: visible;
        transform: translateY(-50%) translateX(0px);
    }
}
.scroll-indicator-controller > div.active {
    background: #fff;
    border-color: rgba(0, 0, 0, 0.64);
}
@supports (-ms-ime-align:auto) {
    .scroll-indicator-controller > div span {
        transition: opacity 0.4s ease;
    }
}
