@use '../custom' as *;
@use '../components/mixins' as *;

.topbar {
    @include bgGradient;
    padding: 0;
    height: 2.45935rem;
}

// Style the language selector 
.language-switcher {

    .nav-item {
        

        .dropdown-toggle {
            color: $white;

            &:hover {
                color: $primary;
            }
        }

        &:hover {
                        
            .dropdown-menu {
                display: block;
                padding: 0;
                border-radius: 0;
                border: none;
                min-width: 7.1rem;
                border-top: 0.2259rem solid $primary;
                margin-top: -0.2259rem;
                z-index: 999 !important;

                .dropdown-item {
                    padding-top: 0.3259rem;
                    padding-bottom: 0.3259rem;

                    &:hover {
                        color: $green;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}