.titre {
    color: #004793;
    font-family: "Kanit", Sans-serif;
    font-size: 350%;
    font-weight: 800;
    line-height: 60px;
}

:host >>> div .slide-text div p + p {
  color: #6c757d !important; 
  font-size: 15px !important;
}

:host >>> div .slide-title div p a strong {
  font-size: 17px !important;
  line-height: 1.2 !important;
  display: inline-block;
  color: #1958A2;
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}

:host >>> div .slide-title div p a:hover strong {
  font-size: 17px !important;
  line-height: 1.2 !important;
  color: #5DBA47;
  text-decoration: none;
}

.item-content {
  padding-left: 1rem;
}


@media screen and (max-width: 992px) {
  :host >>> .mobile span {
    display: inline-block !important;
  }

  .image-style {
    width: 100%;
  }

  .image-style2 {
    width: 80%;
  }

  .col-2 {
    flex: 0 0 auto;
    width: 10.66666667% !important;
  }
}


/* .goals {
  background-color: #fff;
}
.goals .container {
  padding: 5rem 0 8rem;
}
@media (max-width: 767.98px) {
  .goals .container {
    padding: 5rem 0;
  }
}
.goals svg.goals-bottom {
  margin-bottom: -0.2953rem;
}
@media (min-width: 992px) {
  .goals svg.goals-bottom {
    margin-bottom: 0;
  }
} */


.footer-icon {
  margin-left: 4px;
}

.de-texte {
  text-transform: none !important;
}


.item-icon i {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #5DBA47;
}


.titre2 {
    color: #4a4c4e;
    font-size: 150%;
}

.a-propos-text {
    font-size: 110%;
    margin-bottom: 0%;
}

.a-service-text {
    font-size: 110%;
    margin-bottom: 0%;
}

.panel-heading {
    position: relative;
  }
  .panel-heading[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    position: absolute;
    color: #b0c5d8;
    font-size: 18px;
    line-height: 22px;
    right: 20px;
    top: calc(50% - 10px);
  
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
  }
  .panel-heading[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
  }


  .acordion-title {
      color: #004793;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
  }

  .accordion-text {
    text-align: justify; 
    font-size: 15px;
    color: #252627;
  }

  .subtitle {
    margin-left: 5%; 
    margin-right: 5%; 
    color:rgb(53, 50, 50); 
    font-weight: bold;

  }

  .titre-footer {
    color: white;
    font-family: "Kanit", Sans-serif;
    font-size: 220%;
    font-weight: 800;
    line-height: 60px;
    margin-top: 17%;
  }

  .form-group {
     margin-bottom: 0px !important; 
}

.foot-text2 {
  font-size: 102%;
  font-weight: 800;
  margin-top: 2%;
}

.a-style {
  color: white;
}

.foot-small {
  color: white;
  font-size: 90%;
}

.equipe-title {
  color: #004793;
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}

.equipe-subtitle {
  color: rgb(66, 66, 66);
  text-align: center;
  font-size: 110%;
  
}




.slick-slider {
  width: 88%;
  margin: auto;
  background: rgb(14, 13, 13);
}

body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}


@media (min-width: 992px) {
.display-2--intro {
    font-size: 3.5rem !important;
    word-wrap: break-word;
}
}


.alert-style {
  margin-left: 10%;
  margin-right: 10%;
}

.contact-text {
  font-size: 100% !important;
}
