.contact-text {
    font-size: 100% !important;
}


@media screen and (max-width: 992px) {
    :host >>> .mobile span {
      display: inline-block !important;
    }
    .image-style {
      width: 100%;
    }
  
    .col-2 {
      flex: 0 0 auto;
      width: 10.66666667% !important;
    }
  }

  .footer-icon {
    margin-left: 4px;
  }
  