@use '../custom' as *;

.display-2 {
    // margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    line-height: 2.5rem;

    @include media-breakpoint-down(lg) {
        line-height: 3.5rem;
        
    }

    &--intro {
        display: inline-block;
        font-weight: 900;
    }

    &--description {
        font-size: 1rem;
        display: inline-block;
        text-transform: none;

        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            display: inline-block;
        }
    }
}

// HEADING LINE 
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

// DISPLAY-3
.display-3 {
    font-family: 'Lato', sans-serif;

    &--title {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }
    }
}
.display-3-grandient {
    background-image: linear-gradient(to right, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

// BORDER RIGHT 
.border-right {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}

// GRADIENT BG
.gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

// DISPLAY 4
.display-4 {

    .infos {
        @include media-breakpoint-up(sm) {
            
        }

        &--content {
            padding-top: 2rem;

            @include media-breakpoint-up(sm) {
                
            }
        }
    }

    &--img-box {
        @include media-breakpoint-up(sm) {
            
        }
    }

    &--img {
        // margin-right: 2rem;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(sm) {
            
        }
    }

    &--title, &--subheading, &--description {
        margin-left: 2rem;

        @include media-breakpoint-up(sm) {
            margin-left: 0;
        }
    }

    &--title {
        margin-bottom: 0.5rem;
    }

    &--subheading {
        font-size: 1.15295rem;

        @include media-breakpoint-up(sm) {
            font-size: 1.55295rem;
        }
    }

    &--description {
        padding-right: 2rem;
        font-size: 1.1rem;
        line-height: normal;
        font-weight: 400;
        margin-top: 1rem;

        @include media-breakpoint-up(sm) {
            font-size: 1.35rem;
            padding-right: 1rem;
        }
        @include media-breakpoint-up(md) {
            font-size: 1.1rem;
            // padding-right: 1rem;
        }
    }
}