
    
<app-navbar></app-navbar>

<router-outlet></router-outlet>
<!-- <app-accueil></app-accueil> -->

<!-- <app-footer></app-footer> -->

    

<!-- START THE BULLETS NAVIGATION  -->
<!-- <div>
    <div class="scroll-indicator" id="home" data-scroll-indicator-title=""></div>
    <div class="scroll-indicator" id="about-us" data-scroll-indicator-title=""></div>
    <div class="scroll-indicator" id="service" data-scroll-indicator-title=""></div>
    <div class="scroll-indicator" id="benefits" data-scroll-indicator-title=""></div>
    <div class="scroll-indicator" id="goals" data-scroll-indicator-title=""></div>
</div> -->

<!-- <div class="scroll-indicator-controller">
    <span></span>
    <div class="active" data-indi-controller-id="home" onclick="scrollIndiClicked('home');"></div>
    <div class="" data-indi-controller-id="about-us" onclick="scrollIndiClicked('about-us');"></div>
    <div class="" data-indi-controller-id="service" onclick="scrollIndiClicked('service');"></div>
    <div class="" data-indi-controller-id="benefits" onclick="scrollIndiClicked('benefits');"></div>
</div> -->

<!-- <aside id="nav-bullets" class="nav-bullets">
    <ul class="">
        <li>
            <a class="indicator active" href="#home"></a>
        </li>
        <li>
            <a class="indicator" href="#about-us"></a>
        </li>
        <li>
            <a class="indicator" href="#service"></a>
        </li>
        <li>
            <a class="indicator" href="#benefits"></a>
        </li>
        <li>
            <a class="indicator" href="#goals"></a>
        </li>
        <li>
            <a class="indicator" href="#faq"></a>
        </li>
        <li>
            <a class="indicator" href="#team"></a>
        </li>
        <li>
            <a class="indicator" href="#newsroom"></a>
        </li>
        <li>
            <a class="indicator" href="#footer"></a>
        </li>
    </ul>
</aside> -->

<!-- BACK TO TOP  -->
<a href="#top" class="shadow btn-primary rounded-circle back-to-top smooth-scroll">
    <i class="fas fa-chevron-up"></i>
</a>
<!-- The preloader  -->
<div id="preloader" class="preloader">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

   
    <!-- <script src="./node_modules/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="./node_modules/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script> -->


    <!-- Scripts for lotties animation  -->










  
